/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/* styles/variables.css */
:root {
  /* Основной шрифт (Inter) */
  --font-main: 'Inter',sans-serif;
  
  /* Акцентный шрифт (Press Start 2P) */
  --font-accent:PressStart2P,fantasy;

 --background-image: repeating-linear-gradient(to right,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px),
    repeating-linear-gradient(to bottom,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

--background-color:#fff;
--body-card-font:410;
--heading:715;
--accent-color:#000;
--label-decorate:#fff;
--color-button-text:#fff;
--color-body-heart: #ff0000;



/*-----------*/




}